.textBox {
    height: 70px;
	position: absolute;
    border: 1px red solid;
	border-radius: 3px;
    overflow: hidden;
	overflow-y: scroll;
    background-color: #FFFFCC;
}

.tbtext {
	font-family: monospace;
	font-size: 12px;
	margin: 0px;
	margin-left: 5px;
	position: relative;
	top: 0px;
	height: 14px;
}



.inputText {
	font-family: monospace;
	font-size: 12px;
}

/* Styling for the banner */

.introName {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: bold;
}